
body{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #4da9be;
}


.form-container{
    width: 800px;
    background-color: #baafd1;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
}

.text-field textarea{
    width: 598px;
    height: 100px;
}


footer{
    height: 50px;
    background-color: white;
}

.category-list{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: #baafd1;
}

.card-body{
    border:1px solid gainsboro;
    margin: 10px;
    color: #295863;
}

.card-body img{
    width: 220px;
}

a{
    text-decoration: none;
}




