
body{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #4da9be;
}

.main{
    height: 100vh;
}


.form-container{
    width: 800px;
    background-color: #baafd1;
    border-radius: 10px;
    padding: 30px;
}

footer{
    height: 50px;
    background-color: white;
}


